.link-back-home {
  // font-size: 0.95rem;
  // padding: 0.7em 1.3em;
  // color: #fff;
  // background: var(--color-primary-background);

  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-base-background-lighter);
  background-color: var(--color-primary-background);
  border: solid 2px var(--color-primary-background);
  border-radius: 50px;
  margin: 0 auto;
  padding: 16px 20px;
  min-width: 320px;
  max-width: 100%;
  text-decoration: none;
  position: relative;
  &:hover {
    opacity: 0.7;
  }
}
