.site-footer {
  margin-top: 80px;
  padding: 24px 0;
  text-align: center;
  font-size: 12px;
  color: var(--color-base-background);
  // border-top: solid 1px var(--color-border);
  background-color: var(--color-base-text);
}
