.site-header {
  padding: 12px 0;
  position: sticky;
  top: 0;
  background: var(--color-base-background);
  border-bottom: solid 0.8px rgb(51 51 51 / 20%);
  // border-color: rgba($color: var(--color-border), $alpha: 0.1);
  // box-shadow: 0 4px 4px rgb(51 51 51 / 10%);
  z-index: 99;
}
.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header__logo-link {
  display: flex;
  align-items: center;
}
.site-header__logo-img {
  height: 28px;
}

.site-header__links {
  display: flex;
  align-items: center;
}
.site-header__link {
  margin-left: 1.5rem;
  font-size: 0.95rem;
}
