.home-hero {
  padding: 2.7rem 0 2rem;
}
.home-hero__title {
  font-size: 36px;
  font-family: roboto, "Roboto", sans-serif;
  line-height: 1.4;
  @include mq(xs) {
    font-size: 28px;
  }
}
.home-hero__date {
  display: block;
  margin-top: 0.2rem;
  color: var(--color-base-text-lighter);
}
.home-hero__description {
  margin-top: 0.4rem;
  font-size: 18px;
  color: var(--color-base-text-lighter);
  @include mq(xs) {
    font-size: 16px;
  }
}

.home-section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  border-bottom: solid 1px var(--color-border);
}
.home-section-title {
  font-size: 24px;
}
.home-section-link {
  font-size: 16px;
  color: var(--color-primary-text);
}
.home-members {
  padding: 3rem 0;
}
.home-members-container {
  margin-top: 2rem;
}
