:root {
  --color-base-background: #fcfcfc;
  --color-base-background-lighter: #efefef;
  --color-base-text: #333;
  --color-base-text-lighter: #999;
  --color-border: #111;
  --color-primary-background: #73cbf3;
  --color-primary-text: #1ca9e3;
}
