:root {
  --color-base-background: #e6d8c5;
  --color-base-background-lighter: #e6e3d9;
  --color-base-text: #333;
  --color-base-text-lighter: #555;
  --color-border: #111;
  --color-primary-background: #95515e;
  --color-primary-text: #1ca9e3;
}
